html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    letter-spacing: 2px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.underline {
    border-bottom: 1px grey solid;
}

.bold {
    font-weight: bold;
}

.black-text {
    color: black;
}

.grey-text {
    color: rgb(94, 94, 94);
}

.line-spacing-extra {
    line-height: 1.5;
    letter-spacing: 2px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: rgb(94, 94, 94);
}

a:active {
    text-decoration: underline;
}

.top {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
}

.navigation {
  display: flex;
  height: 50px;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  color: black;
}

.navigation > h1 {
    margin: auto;
    margin-left: 0px;
    font-size: 1.5rem;
}

.navigation > ul {
    display: flex;
    flex-direction: row;
}

.navigation > ul > li {
    padding: 0px 20px 0px 20px;
}

.middle {
    display: flex;
    flex-direction: column;
}

.middle > section:not(:nth-child(1)) {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 1rem auto;
}

.card-image {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.carousel > ul {
    margin: 0px;
    padding: 0px;
}
.mySlides {
   display: none;
 }

 /* Fading animation */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 4s;
   animation-name: fade;
   animation-duration: 4s;
 }

 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }

.sub-menu-section > ul {
   text-align: center;
   padding: 0;
}

.sub-menu-section > ul > li {
    float: left;
    width: 33%;
}

.inputFormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputFormDiv > div {
    width: 60%;
    margin: 10px;
}

.inputFormDiv > div > textarea,input {
    width: 100%;
    height: 100%;
}

.contact-input-div {
    height: 4rem;
}

.contact-textarea-div {
    height: 9rem;
}

.contact-button-div {
    text-align: center;
}

.sendButton {
    background-color: rgb(139, 159, 169);
    width: 100px;
    height: 50px;
}

.blog-section-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

.blog-section-div > div:not(:last-child) {
    border-bottom: 1px rgb(94, 94, 94) solid;
}

.blog-section-div > div {
    margin-bottom: 1rem;
    padding: 1rem;
}

.bottom {
    background-color: rgb(139, 159, 169);;
}

footer {
}

footer > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

footer > ul > li {
    margin: 0px 5px 0px 5px;
}

footer > div {
    text-align: center;
}